pre {
	padding-top: 50px;
	font-family: "Arial";
	font-size: 14px;
	float:right;
}

hr {
	width:100%;
}
body {color:black;
	background-color: gray;
	background-size: 100% 100%;
	bottom:0;
	background-repeat: no-repeat;

}
#Showcase{
	margin-left: 50px;

}
#Zodiac{
	margin-left: 50px;

}

#information{
	display: inline-block;
}

html{
	font-family: "Arial";
	background-color: gray;
	width: 100%;
	height: 70%;
	margin: auto;
	}
.subhead1 {
	padding-left: 205px;
	color: gray;

}
.subhead2 {
	padding-left: 205px;
	font-size: 40px;
	font-weight: bold;
	margin: 0px;

}
a:link{
	color:gray;


}
a:visited{
	color:gray;

}
a:hover{
	color:gray;

}
a:active{
	color:gray;
}
a{
	font-weight: bold;
	text-decoration: none;


}

#mainsec{
	font-size: 14px;


}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	margin-bottom: 2%;
}
.animal{
	display: inline-block;
	height: 10%;
	width: 20%;
	float: right;
}
.animal2{
	padding-left: 10;
	display: inline-block;
	height: 100%;
	width: 100%;
	border: 1px solid black;
	margin-left: 5%;
	margin-right: 5%;
}
.animal3{
	padding-left: 10;
	display: inline-block;
	height: 50%;
	width: 50%;
	border: 1px solid black;
}
#centerpic{
	display: inline-block;

}
.centertext{
	text-align: center;
	font-weight: bold;
}
.textbox1{
	width: 100%;
}
#comments{
	width: 100%;

}

th {
	text-align: right;
	padding-right: 10px;
}

#button1 {
	    background-color: white;
		opacity: 0.6;
	    border: none;
	    color: black;
	    padding: 8px 32px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
}
.emails{
	font-weight: bold;
}
.linklist{
	list-style-type: none; 
	margin: 0;
	padding: 0;
	margin-bottom:10%;
	text-align: center;
}
.linklist2{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom:20px;
	text-align: center;
}
.mainlist{
	display: inline;
	width: 100%;

}
.mainlist2{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#testul{
	list-style-type: none;
}
.libod{
	width: 100%;
	text-align: center;
	margin: 5px;
}
.headers{
	padding-left: 10;
	display: inline-block;
	width: 15%;
	border: 1px solid black;
}
.col-xs-4{
	text-align: center;
}
.heading{
	color: white;
}
.col-md-6{
	text-align: center;
	
}
.visible-md{
	text-align: right;
}
.myname{
	text-align: left;
}
.row{
	text-align: center;
	
}
.yourname{
	text-align: right;
}
.home{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	margin-bottom: 5%;
}